/* Large device up to 1280px*/
@media screen and (max-width: 1280px) {
  .container {
    width: 98%;
  }
}

/* Medium device up to 1024px*/
@media screen and (max-width: 1024px) {
  .title-primary {
    font-size: 38px;
  }
  .subtitle-primary {
    font-size: 18px;
  }
  .banner-container {
    margin-top: 50px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 28px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-image,
  .plants-lover-image-container,
  .plants-lover-content {
    width: 100%;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #trusted-badge {
    display: none;
  }
  .plants-lover-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .latest-deal-card-container {
    grid-template-columns: 1fr;
  }
  #latest-card-2 {
    grid-column: auto;
  }
  #latest-card-2 h3 {
    font-size: 20px;
  }
  #latest-card-2 button {
    font-size: 18px;
  }
}

/* Small device up to 640px*/
@media screen and (max-width: 640px) {
  .container {
    width: 93%;
  }
  .title-primary {
    font-size: 24px;
  }
  .subtitle-primary {
    font-size: 14px;
  }
  .nav-logo {
    max-width: 80px;
  }
  .nav-logo img {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .banner-container {
    margin-top: 28px;
  }
  .banner-title {
    font-size: 30px;
  }
  .plant-section-container {
    margin-top: 65px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    gap: 10px;
  }
  .card-title,
  .card-price {
    font-size: 16px;
  }
  .card-btn {
    padding: 10px 0;
  }
  .plants-lover-subtitle {
    width: 100%;
  }
  .plants-lover-container {
    margin-top: 40px;
    gap: 18px;
  }
  .latest-deal-card-container,
  .join-section {
    margin-top: 45px;
  }
  .latest-deal-subtitle {
    width: 90%;
  }
  .join-container {
    padding: 100px 0;
  }
  .join-input {
    width: 90%;
  }
  .join-btn {
    padding: 12px 20px;
  }
}
