/* Large device up to 1280px*/
@media screen and (max-width: 1280px) {
  .container {
    width: 98%;
  }
}

/* Medium device up to 1024px*/
@media screen and (max-width: 1024px) {
  .title-primary {
    font-size: 38px;
  }
  .subtitle-primary {
    font-size: 18px;
  }
  .banner-container {
    margin-top: 50px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 28px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-image {
    width: 100%;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small device up to 640px*/
@media screen and (max-width: 640px) {
  .container {
    width: 95%;
  }
  .title-primary {
    font-size: 24px;
  }
  .subtitle-primary {
    font-size: 14px;
  }
  .nav-logo {
    max-width: 80px;
  }
  .nav-logo img {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .banner-container {
    margin-top: 28px;
  }
  .banner-title {
    font-size: 30px;
  }
  .plant-section-container {
    margin-top: 65px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    gap: 10px;
  }
  .card-title,
  .card-price {
    font-size: 16px;
  }
  .card-btn {
    padding: 16px 0;
  }
}
