/* Google Fonts */

.font-noto {
  font-family: "Noto Serif", serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

/* Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Shared Style */
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 98%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar Style */
.navbar {
  justify-content: space-between;
  margin-top: 20px;
}
.nav-links {
  margin-right: 48px;
}
.nav-links ul {
  gap: 48px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #8987a1;
}
#home {
  font-weight: 700;
  color: #252432;
}
.nav-cart i {
  margin-right: 11px;
}
